*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #121214;
  font-family: 'Mulish', sans-serif;
  padding: 72px 104px;
  display: grid;
  justify-content: center;
}

header h1{
  color: #02799D;
  font-size: 58px;
  line-height: 72px;
  font-weight: 900;
}

header p{
  color: #E1E1E6;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

main{
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  column-gap: 60px;
  row-gap: 44px;
}

.card{
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
  overflow: hidden;
}

.card img{

}

.card h2{
  font-size: 36px;
  font-weight: 900;
  color: #E1E1E6;
  padding: 24px 32px 0px;
}

.card p{
  font-size: 19px;
  font-weight: 600;
  color: #C4C4CC;
  padding: 24px 32px 32px;
}
